PORT=5009

# MONGODB
MONGODB_URI=mongodb+srv:xxxxxxxxxxxxxxxxxx
MONGODB_USER=sxxx
MONGODB_PASSWORD=Qxxxxxxxxxxx

# EMAIL SECRETS
EMAIL_USER=abc@gmail.com
EMAIL_PASS=xxxxxxxxxxxxx

# JWT SECRET
JWT_SECRET=xxxxxxxxxxxxxxxxxxxxxxxxxxx

# STRIPER SECRETS
STRIPE_SECRET_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
STRIPE_PUBLISHABLE_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

# STRIPE PRICE ID
STRIPE_STANDARD_PRICE_ID=prixxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

STRIPE_WEBHOOK_SECRET=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

# STRIPE SUBSCRIPTION DISCOUNT COUPON
STRIPE_COUPON_FIRST_3_MONTHS=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

# LiveKit
LIVEKIT_URL=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
LIVEKIT_API_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
LIVEKIT_API_SECRET=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx